.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin-top: 60px;
}

.cards {
    display: flex;
    max-width: 23em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    column-gap: 30px;
    row-gap: 40px;
    margin: 60px 0;
    max-width: 1000px;
}